<ion-list color="dark" #lista>
  <ion-item-sliding *ngFor="let l of deseosService.listas | filtroCompletado:terminada">
    <ion-list  color="dark">
      <ion-item  detail  color="dark" (click)="verLista(l)">
        <ion-label>{{ l.titulo }}</ion-label>
        <ion-note slot="end" color="tertiary">{{ l.items.length }} items</ion-note>
      </ion-item>
    </ion-list>

    <ion-item-options side="start">
      <ion-item-option (click)="editarLista(l)" color="primary">
        <ion-icon  slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>


    <ion-item-options side="end">
      <ion-item-option (click)="borrarLista(l)" color="danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>



  </ion-item-sliding>
</ion-list>
