<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Terminada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-listas [terminada]="true"></app-listas>
</ion-content>
